.cabeçalho_menu-humburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/letra-m.png");
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.container{
    display: flex;
    align-items: center;
}

.container-imagens{
    padding: 1em;
}

.lista-menu{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}